
<div class="black pr-0 pl-0 min-w-min">
    <div class="cent black mt-0">
        <div class="cent" style="display:flex;">
            <h4 style="color:white;margin-top:8vh">Contact</h4>
        </div>
        <div class="cent" style="display:flex;">
            <h1 style="color:white;text-align: center;margin-bottom:25vh">Get the help you need</h1>
        </div>

    <div class="flex-wrap">
        <div class="ml-8">
        </div>

    </div>

    <div class="pl-8 pr-8 pr-0 pl-0 flex flex-column min-w-min max-w-max md:flex-row black" style="width:100%">
        <div class="black pr-0 pl-2 mr-0 w-full md:w-5 flex flex-column align-items-center justify-content-center gap-3 py-5">
            <div class=" black pr-0 pl-0 mr-0  flex flex-wrap justify-content-left align-items-left gap-2" style=" min-width:38vh" >
                <p class="ml-8 mr-0 gris text-lg">INFORMATIQUE QUSTION</p>
                <h4 class=" ml-8 white">FREQUENTLY ASKED QUESTIONS</h4>
                <p class="ml-8">_______________________________________________________________</p>
                <h6 class="mt-1 mr-0 text-sm ml-8 bleu">How much does it cost?</h6>
                <p class="ml-8 mt-0 text-sm gris">Consecteteur cras scelerisque dis nec mi vestibulum ullamcorper turpis
                 enim nataque tempus a malisuada suspendisse iaculis adipiscing himenaeos tincidunt.Tellus pharetra dis nostra urna a scelerisque id
                parturient ullamcorper ullamcorper class ad consectetur tristique et.</p>
                <p class="ml-8 text-sm gris">Hendrerit mollis facilisi odio a montes scelerisque a scelerique justo a praesent conubia aenean mi tempor.</p>
            </div>
            <p-accordion class="black white ml-8 bg-surface-900" [activeIndex]="0" [style]="{width:'74vh'}">
                <p-accordionTab class="black bg-orange-50" header="How soon will my app be read to go live?">
                    <p>
                        Lorem ipsum dolor sit amet...
                    </p>
                </p-accordionTab>
                <p-accordionTab class="black" header="How do I pick the right person or company to build my app?">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                    </p>
                </p-accordionTab>
                <p-accordionTab class="black" header="How much does a server for an app cost?">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                </p-accordionTab>
                <p-accordionTab class="black bg-surface-900" header="How does an API interface work?">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>
        <div class=" ml-0 pl-0 mr-0 pl-0 pr-0 mr-0 w-full md:w-2">
            <p-divider layout="vertical" styleClass="hidden md:flex">
                <b></b>
            </p-divider>
            <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'">
                <b></b>
            </p-divider>
        </div>
        <div class="black pr-0 pl-0 pt-0 mt-0 ml-0    w-full md:w-5 flex align-items-top justify-content-top gap-3 py-5">
            <div class="black pr-0 pl-0 mr-8 pt-0 mt-0  flex flex-wrap justify-content-right align-items-right gap-2" style="min-width:38vh">
                <p class="ml-0 mb-0 gris text-lg">INFORMATION ABOUT US</p>
                <h4 class="mt-0 mr-3 mt-0 white">CONTACT FOR ANY QUESTIONS</h4>
                <div class="formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label class="white" for="firstname6">Your Name</label>
                        <input id="firstname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="white" for="lastname6">Your Email</label>
                        <input id="lastname6" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="white" for="firstname6">Phone Number</label>
                        <input id="firstname7" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label class="white" for="lastname6">Company</label>
                        <input id="lastname7" type="text" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col-12">
                        <label class="white" for="address">Your Message</label>
                        <textarea id="address" type="text" rows="4" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"></textarea>
                    </div>
                    <div class="field col-12 md:col-6">
                        <button class="border-white border-round p-2">ASK A QUITION</button>
                    </div>

                </div>
            </div>
        </div>

        </div>

    <div class="cent " style="display:flex;margin-top:25vh;">
        <img class="m-10 h-50" src="assets/layout/images/zyn.PNG" alt="logo" style="border-radius:3px;width: 11%;"/>
    </div>

    <div class="cent " style="display:flex;">
        <h1 style="color:white;">Generate your next App in a minute</h1>
    </div>
    <div class="cent " style="display:flex;">
        <p style="color:white;text-align: center;">Try Zenerator and for yourself</p>
    </div>
    <div class="cent " style="display:flex;padding-bottom: 20vh">
        <button class="p-tabview-nav-btn hh  m-2 " [routerLink]="['/login']">Get Started  <i class="pi pi-arrow-right"></i></button>
    </div>


</div>
</div>




