<div class="grid" *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <div *ngIf="showDefaultView">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-700" (click)="showDefault()">
                        <i style="font-size: 1rem"></i><span class="link-label">Template</span>
                    </a>
                    <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-700" (click)="showTemplate()">
                        <i style="font-size: 1rem"></i><span class="link-label">New</span>
                    </a>
                    <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-700">
                        <i style="font-size: 1rem"></i><span class="link-label">My Template</span>
                    </a>
                </ng-template>
                <ng-template pTemplate="right">
                    <button pButton pRipple label="{{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Template')" *ngIf="createActionIsValid"></button>
                </ng-template>
            </p-toolbar>
                <app-template-create-collaborator *ngIf="createDialog && createActionIsValid"></app-template-create-collaborator>
                <app-template-edit-collaborator *ngIf="editDialog && editActionIsValid"></app-template-edit-collaborator>
                <app-template-view-collaborator *ngIf="viewDialog && viewActionIsValid"></app-template-view-collaborator>
                <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                         [globalFilterFields]="['code', 'name', 'addingDate', 'lastUpdateDate', 'categoryTemplatename', 'typeTemplatename', 'levelTemplatename', 'templateTags', 'domainTemplatename', 'price', 'memberid', 'technologyname']" [(selection)]="selections"
                         [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                         currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                    <ng-template pTemplate="caption">
                        <span class="p-input-icon-left ml-auto mr-4">
                            <i class="pi pi-search"></i>
                            <input class="text-orange-700" (click)="findPaginatedByCriteria()" pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                        <a (click)="selecteProjectTemplate('private')"  class="mr-6 ml-6 text-orange-700 underline">private</a>
                        <a (click)="selecteProjectTemplate('public')" class="mr-6 ml-6 text-orange-700 underline">public</a>
                    </ng-template>
                    <ng-template style="width:1000px; height:300px" pTemplate="body" let-element>
                        <div *ngIf="showDefaultView">
                        <div *ngIf="showProjectTemplateDetails">
                            <div *ngIf="element.categoryTemplate.name===selectedProjectTemplate">

                                <div  class="border-solid mt-4 mb-6 flex flex-wrap border-gray-300">
                                    <div class=" left-100 ml-4 mr-8 text-left align-items-left"> <span class="vertical-align-baseline">
                                        <pre>         <img [src]="getTechnologyLogo(element.technology?.name)" alt="Technology Logo" class="w-3rem h-2rem"/>{{ element.name }} :  {{ element.description }}           <p-rating class="ml-3" [(ngModel)]="value" [cancel]="false" /></pre>
                            </span>
                                <span class="vertical-align-baseline"><pre><p class="text-left mt-0 mr-3 mb-0 ml-8"><b class="text-red-500">{{ element.price }}  $</b>                <u class="text-pink-900">technology:</u>  <b class="text-teal-600">{{ element.technology.name }}</b>                <u class="text-pink-900">domain:</u>  <b>{{ element.domainTemplate.name }}</b></p></pre></span>
                                <div>
                                    <span class="vertical-align-baseline"><pre><p class="text-left mt-0 mr-3 ml-8"><b class="text-red-500">{{ element.categoryTemplate.name }}</b>                <u class="text-pink-900">type:</u>  <b class="text-teal-600">{{ element.typeTemplate.name }}</b>                    <u class="text-pink-900">level:</u>  <b>{{ element.levelTemplate.name }}</b></p></pre></span>
                                </div>
                                <span class=" flex align-items-left justify-content-left vertical-align-baseline"><p-button class=" text-blue-300 background-blue-200 button mr-7 mb-3 ml-8" label="shop" (click)="showDialog()" severity="secondary" /><p-button class=" text-blue-300 background-blue-200 button mr-8 mb-3 ml-8" label="Tag" (click)="showYamlDialog(element.templateTags)" severity="secondary" /><p-button class=" text-blue-300 background-blue-200 button mr-4 mb-3 ml-8" label="use"  severity="secondary" />
                                    <!--<button class=" text-blue-300 background-blue-200 border-1 button mr-4 mb-3 ml-8" (click)="showYamlDialog(element.description)">description</button><button class="button text-blue-300 background-surface-0 border-50 ml-6 mb-3" (click)="showYamlDialog(element.templateTags)">Tag</button> <button class="button mr-4 mb-3 ml-8 text-blue-300 background-surface-0 border-none border-white-alpha-30">use</button>-->
                            </span>
                            </div>
                        </div>
                        </div>
                        </div>
                        </div>
                            <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '20rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                                <pre><h4>{{ element.name }}</h4>       <img [src]="getTechnologyLogo(element.technology?.name)" alt="Technology Logo" class="w-3rem h-2rem"/></pre>
                                <p>{{ element.price }}$</p>
                                <p>{{ element.description }}</p>
                                <button>Continue To Ckeckout</button><i class="pi pi-cart-minus" style="font-size: 2rem"></i>
                            </p-dialog>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="showTemplateView">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-700" (click)="showDefault()">
                            <i style="font-size: 1rem"></i><span class="link-label">Template</span>
                        </a>
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-700" (click)="showTemplate()">
                            <i style="font-size: 1rem"></i><span class="link-label">New</span>
                        </a>
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-700">
                            <i style="font-size: 1rem"></i><span class="link-label">My Template</span>
                        </a>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton pRipple label="{{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Template')" *ngIf="createActionIsValid"></button>
                    </ng-template>
                </p-toolbar>
                <app-template-create-collaborator *ngIf="createDialog && createActionIsValid"></app-template-create-collaborator>
                <app-template-edit-collaborator *ngIf="editDialog && editActionIsValid"></app-template-edit-collaborator>
                <app-template-view-collaborator *ngIf="viewDialog && viewActionIsValid"></app-template-view-collaborator>
                <p-tabView class="justify-content-center">
                    <div class="grid">
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="2">{{'template.name' | translate}}<span style="color: red;">*</span></label>
                            </div>
                            <input [style]="{width: '80%', border:'solid'}" class="mb-2 mr-2" type="text" pInputText  placeholder="{{'template.name' | translate}}" id="2" [(ngModel)]="item.name"
                                   [ngClass]="{'ng-invalid ng-dirty' : !validTemplateName}"  />
                            <small class='p-error' *ngIf='!validTemplateName'>Name est obligatoire.</small>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="10">{{'template.domainTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}" class="w-full" appendTo="body"  [options]="domainTemplates" [(ngModel)]="item.domainTemplate" id="11" [filter]="true" filterMatchMode="contains"
                                        [showClear]="true" optionLabel="name" placeholder="{{'template.domainTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="6">{{'template.categoryTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}"  appendTo="body"  [options]="categoryTemplates" [(ngModel)]="item.categoryTemplate" id="6" [filter]="true" filterMatchMode="contains"
                                          [showClear]="true" optionLabel="name" placeholder="{{'template.categoryTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="11">{{'template.price' | translate}}</label>
                            </div>
                            <p-inputNumber [style.width.%]="80" class="border-solid border-round border-black-alpha-60" [style]="{width: '100%'}"  id="12" placeholder="{{'template.price' | translate}}" [(ngModel)]="item.price"  >
                            </p-inputNumber>
                        </div>
                        <div class="field col-11 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="7">{{'template.typeTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}" appendTo="body"  [options]="typeTemplates" [(ngModel)]="item.typeTemplate" id="7" [filter]="true" filterMatchMode="contains"
                                        [showClear]="true" optionLabel="name" placeholder="{{'template.typeTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-11 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="13">{{'template.technology' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}"  appendTo="body"  [options]="technologys" [(ngModel)]="item.technology" id="13" [filter]="true" filterMatchMode="contains"
                                         [showClear]="true" optionLabel="name" placeholder="{{'template.technology' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-11 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="8">{{'template.levelTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}"  appendTo="body"  [options]="levelTemplates" [(ngModel)]="item.levelTemplate" id="8" [filter]="true" filterMatchMode="contains"
                                         [showClear]="true" optionLabel="name" placeholder="{{'template.levelTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="9">{{'template.templateTags' | translate}}</label>
                            </div>
                            <input [style]="{width: '80%', border:'solid'}" class="mb-2 mr-2" type="text" pInputText  placeholder="{{'template.templateTags' | translate}}" id="9" [(ngModel)]="item.templateTags"
                            />
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="3">{{'template.description' | translate}}</label>
                            </div>
                            <textarea  [style]="{width: '80%', border:'solid'}" id="3" pInputTextarea rows="5" cols="46" placeholder="{{'template.description' | translate}}"  [(ngModel)]="item.description"
                            ></textarea>
                        </div>
                    </div>
                </p-tabView>
                <div class="p-flexbox ml-4">
                    <button class="ml-4 mr-8 p-button-warning" pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>
                    <button class="p-button-warning" pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                </div>
            </div>
        </div>
    </div>
   </div>
