<div class="grid" *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card border">
            <div *ngIf="showDefaultView">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-500 text-2xl " (click)="showDefault()">
                        <i style="font-size: 1rem"></i><span class="link-label">Template</span>
                    </a>
                    <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-500 text-2xl " (click)="showTemplate()">
                        <i style="font-size: 1rem"></i><span class="link-label">Create</span>
                    </a>
                    <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold hover:text-orange-500 text-2xl " (click)="showMy()">
                        <i style="font-size: 1rem"></i><span class="link-label">My Template</span>
                    </a>
                </ng-template>
                <ng-template pTemplate="right">
                    <!--<button pButton pRipple label="{{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Template')" *ngIf="createActionIsValid"></button>-->
                </ng-template>
            </p-toolbar>
                <app-template-create-collaborator *ngIf="createDialog && createActionIsValid"></app-template-create-collaborator>
                <app-template-edit-collaborator *ngIf="editDialog && editActionIsValid"></app-template-edit-collaborator>
                <app-template-view-collaborator *ngIf="viewDialog && viewActionIsValid"></app-template-view-collaborator>
                <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                         [globalFilterFields]="['code', 'name', 'addingDate', 'lastUpdateDate', 'categoryTemplatename', 'typeTemplatename', 'levelTemplatename', 'templateTags', 'domainTemplatename', 'price', 'memberid', 'technologyname']" [(selection)]="selections"
                         [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                         currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                    <ng-template pTemplate="caption">
                        <span class="p-input-icon-left ml-auto mr-4">
                            <i class="pi pi-search"></i>
                            <input class="text-orange-700" [style]="{width:'500px',background:'#ffffff'}" (click)="findPaginatedByCriteria()" pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                        <a (click)="selecteProjectTemplate('Public')" class="mr-6 ml-6 text-2xl  aswad underline">Public</a>
                        <a (click)="selecteProjectTemplate('Private')"  class="mr-6 ml-6 text-2xl aswad underline">Private</a>
                    </ng-template>
                    <ng-template style="width:1000px; height:300px" pTemplate="body" let-element>
                        <div *ngIf="showDefaultView">
                        <div *ngIf="showProjectTemplateDetails">
                            <div *ngIf="element.categoryTemplate.name===selectedProjectTemplate">
                                <div class="flex border-solid w-auto border-gray-300 mt-4 mb-4">
                                    <div class="col-fixed" style="width:100px">
                                    </div>
                                    <div class="col-fixed" style="width:100px">
                                        <img [src]="getTechnologyLogo(element.technology?.name)" alt="Technology Logo" class="w-8rem h-10rem mr-6"/>
                                    </div>
                                    <div class="flex-1 h-10srem w-auto font-bold text-left pl-8 pt-3 pb-3 border-round">
                                        <p-rating class="ml-3 mt-0 pt-0" [(ngModel)]="value" [cancel]="false" /><br>
                                        <p class="mt-4"><b class="text-red-500">{{ element.name }} </b></p>
                                        <p><u class="text-pink-900 mr-4">Tag:</u><b class="text-black-500 font-normal">{{ element.templateTags}}</b></p>
                                        <!--<p-button class=" text-blue-300 background-blue-200 button" label="tag" (click)="showYamlDialog(element.templateTags)" severity="secondary" />-->
                                        <p><u class="text-pink-900 mr-4">Description:</u><b class="text-black-500 font-normal">{{ element.description }}</b></p>
                                    </div>
                                    <div class="col-fixed font-bold" style="width:200px">
                                        <p><u class="text-pink-900 mr-4">Domain:</u><b class="text-teal-600">{{ element.domainTemplate.name }}</b></p>
                                        <p><b class="text-red-500">{{ element.categoryTemplate.name }}</b></p>
                                        <p><b class="text-red-500 text-4lg">{{ element.price }}$</b></p>
                                        <p-button [style]="{background:'#0e88b3', borderColor:'#0e88b3'}" *ngIf="element.categoryTemplate.name==='Private'" class=" text-blue-300 background-blue-200 button" label="Buy" (click)="showDialog()" severity="secondary" />
                                        <p-button [style]="{background:'#0e88b3', borderColor:'#0e88b3'}" *ngIf="element.categoryTemplate.name==='Public'" class=" text-blue-300 background-blue-200 button" label="Upload" severity="secondary" />
                                        <i class="pi pi-cart-minus" style="color: green"></i>
                                    </div>
                                    <div class="col-fixed font-bold" style="width:200px">
                                        <p><u class="text-pink-900 mr-4">Technology: </u><b class="text-teal-600">{{ element.technology.name }}</b></p>
                                        <p><u class="text-pink-900 mr-4">Type: </u><b class="text-teal-600">{{ element.typeTemplate.name }}</b></p>
                                        <p><u class="text-pink-900 mr-4">Level:</u>  <b class="text-teal-600">{{ element.levelTemplate.name }}</b></p>
                                        <p-button [style]="{background:'#0e88b3', borderColor:'#0e88b3'}" class=" text-blue-300 background-blue-200 button" label="use" (click)="use()"   severity="secondary" />
                                    </div>
                                    <div class="col-fixed" style="width:200px">
                                         </div>
                                </div>
                        </div>
                        </div>
                        </div>
                            <p-dialog class="pt-0" *ngIf="element.categoryTemplate.name==='Private'" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                                <div class="col-fixed pt-0">
                                <pre><img [src]="getTechnologyLogo(element.technology?.name)" alt="Technology Logo" class="w-10rem h-8rem text-center ml-8"/></pre>
                                <p class="font-bold text-red-500 ml-7 text-5xl">{{ element.price }}$ <i class="pi pi-cart-plus text-yellow-500 ml-2" style="font-size: 3rem"></i></p>
                                <p class="ml-4 text-xl">{{ element.description }}</p>
                                <button class="ml-7 border-round p-1 mt-4 black" style="width:50%">Continue To Ckeckout</button>
                                </div>
                            </p-dialog>
                    </ng-template>
                </p-table>
            </div>
            <div *ngIf="showTemplateView">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl" (click)="showDefault()">
                            <i style="font-size: 1rem"></i><span class="link-label">Template</span>
                        </a>
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl" (click)="showTemplate()">
                            <i style="font-size: 1rem"></i><span class="link-label">Create</span>
                        </a>
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl" (click)="showMy()">
                            <i style="font-size: 1rem"></i><span class="link-label">My Template</span>
                        </a>
                    </ng-template>
                    <ng-template pTemplate="right">
                       <!--<button pButton pRipple label="{{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Template')" *ngIf="createActionIsValid"></button>-->
                    </ng-template>
                </p-toolbar>
                <app-template-create-collaborator *ngIf="createDialog && createActionIsValid"></app-template-create-collaborator>
                <app-template-edit-collaborator *ngIf="editDialog && editActionIsValid"></app-template-edit-collaborator>
                <app-template-view-collaborator *ngIf="viewDialog && viewActionIsValid"></app-template-view-collaborator>
                <p-tabView class="justify-content-center">
                    <div class="grid">
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="2">{{'template.name' | translate}}<span style="color: red;">*</span></label>
                            </div>
                            <input [style]="{width: '80%', border:'solid'}" class="mb-2 mr-2" type="text" pInputText  placeholder="{{'template.name' | translate}}" id="2" [(ngModel)]="item.name"
                                     />
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="10">{{'template.domainTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}" class="w-full" appendTo="body"  [options]="domainTemplates" [(ngModel)]="item.domainTemplate" id="11" [filter]="true" filterMatchMode="contains"
                                        [showClear]="true" optionLabel="name" placeholder="{{'template.domainTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="6">{{'template.categoryTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}"  appendTo="body"  [options]="categoryTemplates" [(ngModel)]="item.categoryTemplate" id="6" [filter]="true" filterMatchMode="contains"
                                          [showClear]="true" optionLabel="name" placeholder="{{'template.categoryTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="11">{{'template.price' | translate}}</label>
                            </div>
                            <p-inputNumber [style.width.%]="80" class="border-solid border-round border-black-alpha-60" [style]="{width: '100%'}"  id="12" placeholder="{{'template.price' | translate}}" [(ngModel)]="item.price"  >
                            </p-inputNumber>
                        </div>
                        <div class="field col-11 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="7">{{'template.typeTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}" appendTo="body"  [options]="typeTemplates" [(ngModel)]="item.typeTemplate" id="7" [filter]="true" filterMatchMode="contains"
                                        [showClear]="true" optionLabel="name" placeholder="{{'template.typeTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-11 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="13">{{'template.technology' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}"  appendTo="body"  [options]="technologys" [(ngModel)]="item.technology" id="13" [filter]="true" filterMatchMode="contains"
                                         [showClear]="true" optionLabel="name" placeholder="{{'template.technology' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-11 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="8">{{'template.levelTemplate' | translate}}</label>
                            </div>
                            <p-dropdown [style]="{width: '80%', border:'solid'}"  appendTo="body"  [options]="levelTemplates" [(ngModel)]="item.levelTemplate" id="8" [filter]="true" filterMatchMode="contains"
                                         [showClear]="true" optionLabel="name" placeholder="{{'template.levelTemplate' | translate}}"  >
                            </p-dropdown>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="9">{{'template.templateTags' | translate}}</label>
                            </div>
                            <input [style]="{width: '80%', border:'solid'}" class="mb-2 mr-2" type="text" pInputText  placeholder="{{'template.templateTags' | translate}}" id="9" [(ngModel)]="item.templateTags"
                            />
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="mb-2">
                                <label class="text-orange-400 text-xl" for="3">{{'template.description' | translate}}</label>
                            </div>
                            <textarea  [style]="{width: '80%', border:'solid'}" id="3" pInputTextarea rows="5" cols="46" placeholder="{{'template.description' | translate}}"  [(ngModel)]="item.description"
                            ></textarea>
                        </div>
                    </div>
                </p-tabView>
                <div class="p-flexbox ml-4">
                    <button class="ml-4 mr-8" pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>
                    <button class="p-button-warning" pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>
                </div>
            </div>
            <div *ngIf="showMyView">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl" (click)="showDefault()">
                            <i style="font-size: 1rem"></i><span class="link-label">Template</span>
                        </a>
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl" (click)="showTemplate()">
                            <i style="font-size: 1rem"></i><span class="link-label">Create</span>
                        </a>
                        <a class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl" (click)="showMy()">
                            <i style="font-size: 1rem"></i><span class="link-label">My Template</span>
                        </a>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <!--<button pButton pRipple label="{{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Template')" *ngIf="createActionIsValid"></button>-->
                    </ng-template>
                </p-toolbar>
                <app-template-create-collaborator *ngIf="createDialog && createActionIsValid"></app-template-create-collaborator>
                <app-template-edit-collaborator *ngIf="editDialog && editActionIsValid"></app-template-edit-collaborator>

                <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                         [globalFilterFields]="['code', 'name', 'addingDate', 'lastUpdateDate', 'categoryTemplatename', 'typeTemplatename', 'levelTemplatename', 'templateTags', 'domainTemplatename', 'price', 'memberid', 'technologyname']" [(selection)]="selections"
                         [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                         currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">

                <ng-template style="width:1000px; height:300px" pTemplate="body" let-element>
                    <div class="flex border-solid w-auto border-gray-300 mt-4 mb-4">
                    <div class="col-fixed" style="width:100px">
                    </div>
                    <div class="col-fixed" style="width:100px">
                        <img [src]="getTechnologyLogo(element.technology?.name)" alt="Technology Logo" class="w-8rem h-10rem mr-6"/>
                    </div>
                    <div class="flex-1 h-10srem w-auto font-bold text-left pl-8 pt-3 pb-3 border-round">
                        <p-rating class="ml-3 mt-0 pt-0" [(ngModel)]="value" [cancel]="false" /><br>
                        <p class="mt-4"><b class="text-red-500">{{ element.name }} </b></p>
                        <p><u class="text-pink-900 mr-4">Tag:</u><b class="text-black-500 font-normal">{{ element.templateTags}}</b></p>
                        <!--<p-button class=" text-blue-300 background-blue-200 button" label="tag" (click)="showYamlDialog(element.templateTags)" severity="secondary" />-->
                        <p><u class="text-pink-900 mr-4">Description:</u><b class="text-black-500 font-normal">{{ element.description }}</b></p>
                    </div>
                    <div class="col-fixed font-bold" style="width:200px">
                        <p><u class="text-pink-900 mr-4">Domain:</u><b class="text-teal-600">{{ element.domainTemplate.name }}</b></p>
                        <p><b class="text-red-500">{{ element.categoryTemplate.name }}</b></p>
                        <p><b class="text-red-500 text-4lg">{{ element.price }}$</b> </p><i class="pi pi-cart-minus" style="color: green"></i>
                        <p-button [style]="{background:'#0e88b3', borderColor:'#0e88b3'}" *ngIf="element.categoryTemplate.name==='Private'" class=" text-blue-300 background-blue-200 button" label="Buy" (click)="showDialog()" severity="secondary" />
                        <p-button [style]="{background:'#0e88b3', borderColor:'#0e88b3'}" *ngIf="element.categoryTemplate.name==='Public'" class=" text-blue-300 background-blue-200 button" label="Upload" (click)="showDialog()" severity="secondary" />
                        <i class="pi pi-cart-minus" style="color: green"></i>
                    </div>
                    <div class="col-fixed font-bold" style="width:200px">
                        <p><u class="text-pink-900 mr-4">Technology: </u><b class="text-teal-600">{{ element.technology.name }}</b></p>
                        <p><u class="text-pink-900 mr-4">Type: </u><b class="text-teal-600">{{ element.typeTemplate.name }}</b></p>
                        <p><u class="text-pink-900 mr-4">Level:</u>  <b class="text-teal-600">{{ element.levelTemplate.name }}</b></p>
                        <p-button [style]="{background:'#0e88b3', borderColor:'#0e88b3'}" class=" text-blue-300 background-blue-200 button" label="use" (click)="use()"   severity="secondary" />
                    </div>
                    <div class="col-fixed" style="width:200px">
                    </div>
                    </div>
                    <p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
                        <div class="col-fixed">
                            <pre><img [src]="getTechnologyLogo(element.technology?.name)" alt="Technology Logo" class="w-6rem h-4rem text-center ml-8"/></pre>
                            <p class="font-bold text-red-500 ml-7 text-5xl">{{ element.price }}$ <i class="pi pi-cart-plus text-yellow-500 ml-2" style="font-size: 3rem"></i></p>
                            <p class="ml-4 text-xl">{{ element.description }}</p>
                            <button class="ml-7 border-round p-1 mt-4 black" style="width:50%">Continue To Ckeckout</button>
                        </div>
                    </p-dialog>
                </ng-template>
                </p-table>
            </div>
        </div>
    </div>
   </div>
