<p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content" >
        <div>
            <h2>Type</h2>
            <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'typeTemplate.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'typeTemplate.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTypeTemplateCode}"  />
                                            <small class='p-error' *ngIf='!validTypeTemplateCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'typeTemplate.name' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'typeTemplate.name' | translate}}" id="2" [(ngModel)]="item.name"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTypeTemplateName}"  />
                                            <small class='p-error' *ngIf='!validTypeTemplateName'>Name est obligatoire.</small>
                                        </div>



                        </div>
                        </div>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
