        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" header="{{'inscriptionCollaborator.tabPan' | translate}}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                        <p-tabView>
                            <p-tabPanel header="{{'inscriptionCollaborator.tabPan' | translate}}">
                                <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'inscriptionCollaborator.startDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="1"  [showTime]="true" [showSeconds]="false" placeholder="{{'inscriptionCollaborator.startDate' | translate}}"  [(ngModel)]="item.startDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'inscriptionCollaborator.endDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="2"  [showTime]="true" [showSeconds]="false" placeholder="{{'inscriptionCollaborator.endDate' | translate}}"  [(ngModel)]="item.endDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'inscriptionCollaborator.renewDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'inscriptionCollaborator.renewDate' | translate}}"  [(ngModel)]="item.renewDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="4">{{'inscriptionCollaborator.packaging' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="packagings" [(ngModel)]="item.packaging" id="4" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'inscriptionCollaborator.packaging' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="5">{{'inscriptionCollaborator.consumedEntity' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="5" placeholder="{{'inscriptionCollaborator.consumedEntity' | translate}}" [(ngModel)]="item.consumedEntity"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="6">{{'inscriptionCollaborator.consumedProjet' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="6" placeholder="{{'inscriptionCollaborator.consumedProjet' | translate}}" [(ngModel)]="item.consumedProjet"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="7">{{'inscriptionCollaborator.consumedAttribut' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="7" placeholder="{{'inscriptionCollaborator.consumedAttribut' | translate}}" [(ngModel)]="item.consumedAttribut"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="8">{{'inscriptionCollaborator.consumedIndicator' | translate}}</label>
                                                    <p-inputNumber class="mb-2 mr-2" id="8" placeholder="{{'inscriptionCollaborator.consumedIndicator' | translate}}" [(ngModel)]="item.consumedIndicator"  >
                                                    </p-inputNumber>
                                                    
                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="9">{{'inscriptionCollaborator.collaborator' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="collaborators" [(ngModel)]="item.collaborator" id="9" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="description" placeholder="{{'inscriptionCollaborator.collaborator' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="10">{{'inscriptionCollaborator.inscriptionCollaboratorState' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="inscriptionCollaboratorStates" [(ngModel)]="item.inscriptionCollaboratorState" id="10" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="name" placeholder="{{'inscriptionCollaborator.inscriptionCollaboratorState' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="11">{{'inscriptionCollaborator.inscriptionCollaboratorType' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="inscriptionCollaboratorTypes" [(ngModel)]="item.inscriptionCollaboratorType" id="11" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="name" placeholder="{{'inscriptionCollaborator.inscriptionCollaboratorType' | translate}}"  >
                                                </p-dropdown>
                                                
                                            </div>

                                </div>
                            </p-tabPanel>
                                    <p-tabPanel header="{{'inscriptionCollaborator.inscriptionMembres' | translate}}">
                                        <p-tabView [(activeIndex)]="activeTab">
                                            <p-tabPanel header="Création">
                                                    <div class="grid">
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="1">Inscription date</label>
                                                                        <p-calendar appendTo="body" id="1"  [showTime]="true" [showSeconds]="false" placeholder="Inscription date" [(ngModel)]="inscriptionMembresElement.inscriptionDate"
                                                                                dateFormat="{{dateFormat}}" [showIcon]="true"  ></p-calendar>
                                                                        
                                                                    </div>
                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Member</label>
                                                                        <p-dropdown  appendTo="body"  [options]="members" [(ngModel)]="inscriptionMembresElement.member"
                                                                                     id="2"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="id"
                                                                                     placeholder="Member"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>

                                                                    <div class="field col-11 md:col-6">
                                                                        <label>Inscription membre state</label>
                                                                        <p-dropdown  appendTo="body"  [options]="inscriptionMembreStates" [(ngModel)]="inscriptionMembresElement.inscriptionMembreState"
                                                                                     id="3"  [filter]="true" filterMatchMode="contains" [showClear]="true" optionLabel="name"
                                                                                     placeholder="Inscription membre state"  >
                                                                        </p-dropdown>
                                                                        
                                                                    </div>

                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="5">Consumed entity</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="consumedEntity" placeholder="Consumed entity"  [(ngModel)]="inscriptionMembresElement.consumedEntity"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="6">Consumed projet</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="consumedProjet" placeholder="Consumed projet"  [(ngModel)]="inscriptionMembresElement.consumedProjet"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="7">Consumed attribut</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="consumedAttribut" placeholder="Consumed attribut"  [(ngModel)]="inscriptionMembresElement.consumedAttribut"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="8">Consumed indicator</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="consumedIndicator" placeholder="Consumed indicator"  [(ngModel)]="inscriptionMembresElement.consumedIndicator"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="9">Affected entity</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="affectedEntity" placeholder="Affected entity"  [(ngModel)]="inscriptionMembresElement.affectedEntity"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="10">Affected projet</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="affectedProjet" placeholder="Affected projet"  [(ngModel)]="inscriptionMembresElement.affectedProjet"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="11">Affected attribut</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="affectedAttribut" placeholder="Affected attribut"  [(ngModel)]="inscriptionMembresElement.affectedAttribut"></p-inputNumber>
                                                                        
                                                                    </div>
                                                                    <div class="field col-12 md:col-6">
                                                                        <label for="12">Affected indicator</label>
                                                                        <p-inputNumber class="mb-2 mr-2" id="affectedIndicator" placeholder="Affected indicator"  [(ngModel)]="inscriptionMembresElement.affectedIndicator"></p-inputNumber>
                                                                        
                                                                    </div>
                                                        <div class="field col-12 md:col-1">
                                                            <button pButton pRipple type="button" icon="pi pi-plus" class="mt-4" label="OK" (click)="addInscriptionMembres()"></button>
                                                        </div>

                                                    </div>
                                            </p-tabPanel>
                                            <p-tabPanel header="Liste {{item.inscriptionMembres?.length > 0 ? '(' + item.inscriptionMembres?.length + ')' : ''}}">
                                                    <div class="card">
                                                        <p-table [value]="item.inscriptionMembres" [scrollable]="true" scrollHeight="200px">
                                                            <ng-template pTemplate="header">
                                                                <tr>
                                                                                <th>Inscription date</th>
                                                                                <th>Member</th>
                                                                                <th>Inscription membre state</th>
                                                                                <th>Consumed entity</th>
                                                                                <th>Consumed projet</th>
                                                                                <th>Consumed attribut</th>
                                                                                <th>Consumed indicator</th>
                                                                                <th>Affected entity</th>
                                                                                <th>Affected projet</th>
                                                                                <th>Affected attribut</th>
                                                                                <th>Affected indicator</th>
                                                                    <th>Actions</th>
                                                                </tr>
                                                            </ng-template>
                                                            <ng-template pTemplate="body" let-p>
                                                                <tr>
                                                                                <td>{{p.inscriptionDate | date: dateFormatColumn}}</td>
                                                                            <td>{{p.member?.id}}</td>
                                                                            <td>{{p.inscriptionMembreState?.name}}</td>
                                                                                <td>{{p.consumedEntity}}</td>
                                                                                <td>{{p.consumedProjet}}</td>
                                                                                <td>{{p.consumedAttribut}}</td>
                                                                                <td>{{p.consumedIndicator}}</td>
                                                                                <td>{{p.affectedEntity}}</td>
                                                                                <td>{{p.affectedProjet}}</td>
                                                                                <td>{{p.affectedAttribut}}</td>
                                                                                <td>{{p.affectedIndicator}}</td>
                                                                    <td>
                                                                        <button (click)="deleteInscriptionMembres(p)" pButton type="button" icon="pi pi-times"  class="p-button-rounded p-button-danger"></button>
                                                                        <button (click)="editInscriptionMembres(p)" pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-template>
                                                        </p-table>
                                                    </div>

                                            </p-tabPanel>
                                        </p-tabView>
                                    </p-tabPanel>


                        </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
