<!--
<div class="grid"  *ngIf="listActionIsValid">
    <div class="col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Project')" *ngIf="createActionIsValid"></button>
                    <button [disabled]="isSelectionDisabled()" pButton pRipple label=" {{'delete' | translate}}" icon="pi pi-trash" class="p-button-danger mr-2 mb-2" (click)=deleteMultiple()  *ngIf="deleteActionIsValid"></button>
                    <button pButton pRipple label=" {{'search' | translate}}" icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}" class="p-button-secondary mr-2 mb-2" (click)="this.showSearch()"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label=" {{'export' | translate}}" icon="pi pi-download" styleClass="p-button-secondary" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="col-12">
                    <div class="flex flex-wrap p-fluid col-12">
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="1">{{'project.code' | translate}}</label>
                            <input  class="w-full"  pInputText id="1" type="text"  [(ngModel)]="criteria.codeLike">
                        </div>
                       <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="2">{{'project.name' | translate}}</label>
                            <input  class="w-full"  pInputText id="2" type="text"  [(ngModel)]="criteria.nameLike">
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label class="font-bold block mb-2" for="3-1">{{'project.generatedDateMin' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.generatedDateFrom"
                                    id="3-1" dateFormat="dd-MM-yy"  [showIcon]="true"  class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="3-2">{{'project.generatedDateMax' | translate}}</label>
                            <p-calendar class="mr-2" [(ngModel)]="criteria.generatedDateTo"
                                    id="3-2" dateFormat="dd-MM-yy"  [showIcon]="true" class="p-fluid"></p-calendar>
                        </div>

                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="5-2">{{'project.projectState' | translate}}</label>
                            <p-dropdown [options]="projectStates" [(ngModel)]="criteria.projectState" id="5" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'project.projectState' | translate}}" optionLabel="code">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="6-2">{{'project.inscriptionMembre' | translate}}</label>
                            <p-dropdown [options]="inscriptionMembres" [(ngModel)]="criteria.inscriptionMembre" id="6" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'project.inscriptionMembre' | translate}}" optionLabel="id">
                            </p-dropdown>
                        </div>
                        <div class="lg:col-3 md:col-6 sm:col-12 mb-4">
                            <label  class="font-bold block mb-2" for="7-2">{{'project.domainTemplate' | translate}}</label>
                            <p-dropdown [options]="domainTemplates" [(ngModel)]="criteria.domainTemplate" id="7" [filter]="true" class="p-fluid"
                                        [showClear]="true"  placeholder="{{'project.domainTemplate' | translate}}" optionLabel="name">
                            </p-dropdown>
                        </div>
                    </div>
                    <div [style]="{ marginTop : '1rem', display: 'flex', justifyContent: 'flex-end' }">
                        <button pButton pRipple label="{{'validate' | translate}}" icon="pi pi-sort-amount-down" class="p-button-info mr-2" (click)="findPaginatedByCriteria()"></button>
                    </div>
                </div>


            </p-toolbar>


            <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                    [globalFilterFields]="['code', 'name', 'generatedDate', 'projectStatecode', 'inscriptionMembreid', 'domainTemplatename']" [(selection)]="selections"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                    currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column flex-row justify-content-between table-header">
                        <h5 class="p-m-0">{{'project.header' | translate}}</h5>
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                        <th pSortableColumn="code">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'project.code' | translate}}</span>
                                <p-sortIcon field="code"></p-sortIcon>
                                <p-columnFilter type="text" field="element.code" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="name">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'project.name' | translate}}</span>
                                <p-sortIcon field="name"></p-sortIcon>
                                <p-columnFilter type="text" field="element.name" display="menu" class="ml-auto"></p-columnFilter>
                            </div>
                        </th>


                        <th pSortableColumn="generatedDate">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'project.generatedDate' | translate}}</span>
                                <p-sortIcon field="generatedDate"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="projectState">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'project.projectState' | translate}}</span>
                                <p-sortIcon field="projectState"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="inscriptionMembre">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'project.inscriptionMembre' | translate}}</span>
                                <p-sortIcon field="inscriptionMembre"></p-sortIcon>
                            </div>
                        </th>


                        <th pSortableColumn="domainTemplate">
                            <div class="p-d-flex p-jc-between p-ai-center">
                                <span>{{'project.domainTemplate' | translate}}</span>
                                <p-sortIcon field="domainTemplate"></p-sortIcon>
                            </div>
                        </th>

                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-element>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="element"></p-tableCheckbox>
                        </td>

                        <td>{{element.code}}</td>


                        <td>{{element.name}}</td>


                        <td>{{element.generatedDate | date :'dd/MM/yyyy HH:mm' }}</td>


                        <td>{{element.projectState?.code}}</td>


                        <td>{{element.inscriptionMembre?.id}}</td>


                        <td>{{element.domainTemplate?.name}}</td>

                        <td>
                            <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
                        </td>
                    </tr>
                </ng-template>

                <ng-template pTemplate="summary">
                    <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'project' : 'projects' : 0 }}.
                    </div>
                </ng-template>
            </p-table>
        </div>


    </div>
</div>

<p-card header="Permission not allowed" *ngIf="!listActionIsValid">
    <p class="m-0">
        You don't have permission to access !
    </p>
</p-card>




-->
<div class="main">
<div class="cards">
    <div class="card" style="background-color: #f5f5f5;">
        <div class="card-content" >
            <div class="number">{{ countByDay }}</div>
            <div class="card-name">Projects <br> Generated <br>Today</div>

        </div>
        <div class="icon-box">
            <i class="pi-ethereum"></i>
        </div>
    </div>
    <div class="card" style="background-color: #e0f7fa;">
        <div class="card-content">
            <div class="number">{{ countByWeek }}</div>
            <div class="card-name">Projects <br> Generated<br> This Week</div>

        </div>
        <div class="icon-box">
            <i class="pi-ethereum"></i>
        </div>
    </div>
    <div class="card" style="background-color: #ffe0b2;">
        <div class="card-content">
            <div class="number">{{ countByMonth }}</div>
            <div class="card-name">Projects <br> Generated <br> This Month</div>

        </div>
        <div class="icon-box">
            <i class="pi-ethereum"></i>
        </div>
    </div>
    <div class="card" style="background-color: #d1c4e9;">
        <div class="card-content">
            <div class="number">{{ countByYear }}</div>
            <div class="card-name">Projects<br>Generated <br>This Year</div>

        </div>
        <div class="icon-box">
            <i class="pi-ethereum"></i>
        </div>
    </div>
</div>
</div>


<div class="justify-content-center charts">
    <div class="flex justify-content-start m-2">
        <p-dropdown
            [options]="years"
            [(ngModel)]="selectedYear"
            optionLabel="label"
            optionValue="value"
            (onChange)="onYearChange($event.value)"
            placeholder="Select a Year">
            <ng-template pTemplate="selectedItem">
                <div class="flex align-items-center gap-2" *ngIf="selectedYear">
                    <div>{{ selectedYear }}</div>
                </div>
            </ng-template>
            <ng-template let-year pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <div>{{ year.label }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>

    <div class="card m-4 flex justify-content-center" style="width: 121vh;">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions" style="position: relative;width: 109vh"/>
    </div>
</div>


<h3 style="margin-left:10px; margin-bottom:40px; margin-top:70px">Projets List:</h3>

<p-table styleClass="p-datatable-gridlines custom-table" [tableStyle]="{ 'max-width': '100rem' }"
         #dt
         [value]="items"
         [columns]="cols"
         [paginator]="false"
         [paginatorPosition]="'bottom'"
         [responsive]="true"
         [(selection)]="selections"
         [scrollable]="true"
         [rowHover]="true"
         dataKey="id"
         styleClass="p-datatable-customers"
         [globalFilterFields]="['code', 'name', 'generatedDate', 'projectStatecode', 'inscriptionMembreid', 'domainTemplatename']"
         currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
         [rows]="6">
         [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">






    <ng-template pTemplate="caption">







        <div style="display: flex; align-items: center; ; margin-bottom: 17px;">
        <span class="p-input-icon-left  " style="justify-content:flex-start;">

                            <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2"
                                    (click)="openCreate('Project')" *ngIf="createActionIsValid"></button>
                        </span>
        <span class="p-input-icon-left ml-auto" style="display: flex;justify-content:flex-end">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="recherche"
                                   (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
        </div>


    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th class="custom-header text-center" style="width: 12%; height: 40px; background-color: #d39edc;"> N° Project</th>
            <th class="custom-header text-center" style="width: 12%;   background-color: #d39edc;"> Name</th>
            <th class="custom-header text-center" style="width: 14%;  background-color: #d39edc;">Genrated Date</th>
            <th class="custom-header text-center" style="width: 15%;   background-color: #d39edc;">State</th>
            <th class="custom-header text-center" style="width: 14%;   background-color: #d39edc;">InscriptionMembre</th>
            <th class="custom-header text-center" style="width: 14%;   background-color: #d39edc;">DomainTemplate</th>
            <th class="custom-header text-center" style="width: 14%;   background-color: #d39edc;">Actions</th>

        </tr>
    </ng-template>

    <ng-template pTemplate="body" let-element let-rowIndex="rowIndex">
        <tr [ngClass]="rowIndex % 2 === 0 ? 'even-row' : 'odd-row'">
            <td class="text-center"
                style="  align-items: center; justify-content: center;">{{ element.code }}
            </td>
            <td class="text-center">{{element.name}}</td>
            <td class="text-center">{{element.generatedDate| date:'yyyy-MM-dd'    }}</td>
            <td class="text-center">{{element.projectState?.code}}</td>
            <td class="text-center">{{element.inscriptionMembre?.id}}</td>
            <td class="text-center">{{element.domainTemplate?.name}}</td>
            <td>
                <button pButton pRipple icon="pi pi-pencil"  class="p-button-rounded p-button-info mr-2" (click)="edit(element)"  *ngIf="editActionIsValid"></button>
                <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-secondary mr-2" (click)="view(element)"  *ngIf="viewActionIsValid"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger mr-2" (click)="delete(element)"  *ngIf="deleteActionIsValid"></button>
                <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning mr-2" (click)="duplicate(element)"  *ngIf="duplicateActionIsValid"></button>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <p-paginator  [rows]="10" [totalRecords]="totalRecords" (onPageChange)="onPage($event)"></p-paginator>
        <div class="p-d-flex p-ai-center p-jc-between">
            En totale il {{items ? totalRecords == 1 ? 'y a' : 'y a' : 'y a' }} {{items ? totalRecords : 0 }} {{items ? totalRecords == 1 ? 'project' : 'projects' : 0 }}.
        </div>
    </ng-template>
</p-table>
<app-project-create-admin  *ngIf="createDialog  && createActionIsValid"></app-project-create-admin>
        <app-project-edit-admin  *ngIf="editDialog  && editActionIsValid"></app-project-edit-admin>
        <app-project-view-admin  *ngIf="viewDialog  && viewActionIsValid"></app-project-view-admin>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

