.card {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-body {
    width: 100%;
}

.p-p-2 {
    padding: 0.5rem !important;
}
.p-d-flex{
    display: inline-flex;
    justify-content:center;
}

h5 {
    font-size: 5.25rem;
    margin-bottom:  90px;
}
