<p-dialog [(visible)]="editDialog" [style]="{width: '70vw'}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content" >
        <div>
            <h2>Technology</h2>
            <div class="grid">

                                        <div class="field col-12 md:col-6">
                                            <label for="1">{{'technology.code' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'technology.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTechnologyCode}"  />
                                            <small class='p-error' *ngIf='!validTechnologyCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="2">{{'technology.name' | translate}}<span style="color: red;">*</span></label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'technology.name' | translate}}" id="2" [(ngModel)]="item.name"
                                                   [ngClass]="{'ng-invalid ng-dirty' : !validTechnologyName}"  />
                                            <small class='p-error' *ngIf='!validTechnologyName'>Name est obligatoire.</small>
                                        </div>



                                        <div class="field col-12 md:col-6">
                                            <label for="3">{{'technology.logo' | translate}}</label>
                                            <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'technology.logo' | translate}}" id="3" [(ngModel)]="item.logo"
                                                    />

                                        </div>



                                    <div class="field col-11 md:col-6">
                                        <label for="4">{{'technology.typeTemplate' | translate}}</label>
                                        <p-dropdown  appendTo="body"  [options]="typeTemplates" [(ngModel)]="item.typeTemplate" id="4" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="name" placeholder="{{'technology.typeTemplate' | translate}}"  >
                                        </p-dropdown>

                                    </div>

                        </div>
                        </div>

        </ng-template>

        <ng-template pTemplate="footer" >
            <div class="p-flexbox">

                    <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="edit()"></button>


                        <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideEditDialog()"></button>


            </div>
        </ng-template>

    </p-dialog>
