
// Couleurs
$primary-color: #3b5998; // Exemple de couleur primaire
$secondary-color: #ff9900; // Exemple de couleur secondaire
$body-background-color: #f4f4f4; // Couleur de fond du corps

// Espacement
$padding-small: 10px; // Petit espacement
$padding-medium: 20px; // Espacement moyen
$padding-large: 30px; // Grand espacement
@media (min-width: 639px) and (max-width: 1199px) {}

.kzWcek {
    display: inline-flex;
    flex: 0 0 50%;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.hKcUFo {
    padding: 20px 10px 28px;
    border-radius: 32px;
    gap: 16px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    background: rgb(255, 253, 250);
    max-width: 280px;
    border: 4px solid rgb(245, 245, 245);
    box-shadow: rgba(163, 163, 163, 0.26) 2px 4px 16px 0;
    flex: 1 1 50%;
}

.gBHdlg {
    padding: 20px 10px 28px;
    border-radius: 32px;
    gap: 16px;
    display: flex;
    cursor: default;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(255, 253, 250);
    max-width: 280px;
    border: 4px solid transparent;
    box-shadow: none;
    flex: 1 1 50%;
}

.kCyXEb {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(135, 135, 135);
}
.ebuwbc {
    display: flex;
    flex-direction: column;
}
.jba-dJv {
    text-align: center;
    color: rgb(38, 38, 38);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.4px;
    margin-bottom: 10px;
    margin-top:0;
}


p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
}

.btSSme {
    margin-top: 0;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}
.hvmvLm {
    color: rgb(38, 38, 38);
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
    margin-top:7px;
    margin-bottom:7px;
}
.bkJqdi {
    padding: 20px 10px 28px;
    border-radius: 32px;
    gap: 16px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background: rgb(255, 253, 250);
    max-width: 320px;
    border: 2px solid #ff9900;
    box-shadow: rgba(163, 163, 163, 0.26) 2px 4px 16px 0;
    flex: 1 1 50%;
}
.bOFRtB {
    text-align: center;
    margin-bottom: 16px;
    color: rgb(38, 38, 38);
    font-weight: 600;
    font-size: 29px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.canIag {
    text-align: center;
    margin-bottom: 11px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.96px;
}

.canIag span {
    color: rgb(38, 38, 38);
}

.xTkCQ {
    color: rgb(135, 135, 135);
}

.eAZANJ {
    padding: 4px 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.36px;
    margin-left: 11px;
    background: #ff9900;
    color: rgb(38, 38, 38);
}
.bbvGbV {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    height: 32px;
}

.jvrslC {
    margin: 0;
    color: rgb(135, 135, 135);
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.36px;
}

.kMEmwo {
    height: 50px;
}

.gDroBN {
    position: relative;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--primary-font);
    font-weight: 500;
    border: 2px solid #ff9900;
    border-radius: 135px;
    color: rgb(38, 38, 38);
    background-color: #ff9900;
    font-size: 20px;
    padding: 16px 24px;

    > span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}



.jYwgeB {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.kmLmMX {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(38, 38, 38);
    position: relative;
}
.descrip {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    color: rgb(38, 38, 38);
    position: relative;
    margin-bottom:20px;
}





.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.p-grid {
    display: flex;
    flex-wrap: wrap;
}

.p-col-6 {
    flex: 0 0 50%;
    padding: 0 10px;
}



.categ{
    margin-top:0;
    display:flex;
    justify-content: center;
    color: black;
    font-size:34px;
}

body {
    background-color: $body-background-color;
    color: #333; // Couleur de texte par défaut
    font-family: Arial, sans-serif;
}

.nav {
    border-radius: 15px;
    margin-bottom: 8px;
    font-family: sans-serif;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;

        li {
            display: inline-block;
            position: relative;
            padding: 2px;
            margin: 0 50px;
            font-size: 21px;

            a {
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                font-weight: bold;
                transition: color 0.3s;

                &:hover {
                    color: $secondary-color;
                }
                &.active {
                    color: $secondary-color;
                }
            }

            &::after {
                content: '';
                height: 3px;
                width: 0;
                background:  $secondary-color;
                position: absolute;
                left: 0;
                bottom: -10px;
                transition: width 0.3s;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }
}



.con.ng-star-inserted{
    justify-content:center;
}

.swiper-pagination{
    width:10px;

}
.con.ng-star-inserted{
    justify-content:center;
}

.swiper-pagination{
    width:10px;

}
/*
.col-sm-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .sc-c343fd9e-1 {
        // Styles pour les packages
        // Ajoutez vos styles spécifiques ici
    }
}*/
