    <div class="grid border-primary-900"  *ngIf="listActionIsValid">
        <div class="col-12 border-primary-900">
            <p-toast></p-toast>
            <div class="card border">
                <div *ngIf="showDefaultView">
                <p-toolbar styleClass="mb-4">
                    <ng-template pTemplate="left">
                        <a (click)="showDefault()" class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl">
                            <i style="font-size: 1rem" ></i><span class="link-label">Genery</span>
                        </a>
                        <a (click)="showProject()" class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl">
                            <i style="font-size: 1rem" ></i><span class="link-label">Projects</span>
                        </a>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Project')" *ngIf="createActionIsValid"></button>
                    </ng-template>
                </p-toolbar>
                    <app-project-create-collaborator  *ngIf="createDialog  && createActionIsValid"></app-project-create-collaborator>
                    <app-project-edit-collaborator  *ngIf="editDialog  && editActionIsValid"></app-project-edit-collaborator>
                    <app-project-view-collaborator  *ngIf="viewDialog  && viewActionIsValid"></app-project-view-collaborator>
                    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
                </div>
                <div *ngIf="showDefaultView">
                    <div class="grid">
                        <div class="col-fixed" style="width:300px">
                            <div class="text-center p-1 border-round-sm font-bold border-solid border-gray-200">
                                <h3 class="flex ml-6 mb-6 justify-content-left h3 text-surface-900 text-3xl text-bold">History:</h3>
                                <div style="width: 250px; height: 380px; overflow: auto; margin:0px; padding:0px">
                                    <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                                             [globalFilterFields]="['code', 'name', 'generatedDate', 'projectStatecode', 'inscriptionMembreid', 'domainTemplatename']" [(selection)]="selections"
                                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                             currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                                             [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple" class="mt-6 flex ml-0 justify-content-center">
                                        <ng-template style="height: 400px;" pTemplate="body" let-element>
                                            <div class=" justify-content-center mr-3">
                                                <ul style="padding-left: 0;" class="flex justify-content-center">
                                                    <li class="container flex justify-content-center mt-0" style="list-style-type: none;padding-left: 0;" >
                                                        <div class="block bg-bluegray-50 text-left text-primary-900 p-1 border-round m-0" [style]="{width:'20vh',textcolor:'black'}">
                                                            <a class="text-primary-900" (click)="showw(element)"><p class="text-primary-900 hover:text-orange-600">{{ element.name }}</p></a>
                                                        </div>

                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-template>
                                    </p-table>
                                    <p-scrollTop target="parent" styleClass="custom-scrolltop" [threshold]="150" icon="pi pi-arrow-up" />
                                </div>
                            </div>
                        </div>
                        <div class=" field col">
                            <div class="text-center p-3 border-round-sm font-bold" [style]="{height: '400px'}">
                                <span class="vertical-align-baseline mt-2">
                                   <p-button (click)="showDialog()" icon="pi pi-external-link" icon="pi pi-eye" label="Template" class="top-right relative mr-4"></p-button>
                                   <button class="btn flex-end relative p-2" (click)="toggleSidebar()">YamlGPT</button>
                               </span>
                                <div class="grid p-0 m-0" [style]="{width:'100%'}">
                                    <!--<div class="field col-11 md:col-6">
                                    </div>
                                    <div class="field col-11  md:col-6">
                                        <p-button (click)="showDialog()" icon="pi pi-external-link" icon="pi pi-eye" label="Template" class="top-right relative mr-4"></p-button>
                                        <button class="btn flex-end relative p-2" (click)="toggleSidebar()">YamlGPT</button>
                                    </div>-->
                                    <div class="field col-11 md:col-6 mt-2">
                                        <input [style]="{width:'100%'}" class="mb-2 mr-2" type="text" pInputText  placeholder="{{'Enter Name Of Project' | translate}}" id="2" [(ngModel)]="item.name"/>
                                    </div>
                                        <div class="field col-11 md:col-6 mt-2">
                                        <p-dropdown [style]="{width:'100%'}"  appendTo="body"  [options]="domainTemplates" [(ngModel)]="item.domainTemplate" id="7" [filter]="true" filterMatchMode="contains"
                                                     [showClear]="true" optionLabel="name" placeholder="{{'Select Domain' | translate}}"  >
                                        </p-dropdown>
                                        </div>
                                </div>
                                <div class="mb-2 justify-content-left text-left">
                                    <label class="text-surface-900 text-3xl text-bold" for="3">{{'project.yaml' | translate}}</label>
                                </div>
                                <textarea [style]="{width: '100%', height:'300px'}" class="border-solid border-black-alpha-60 border-3" id="3" pInputTextarea rows="5" cols="46" placeholder="{{'project.yaml' | translate}}"  [(ngModel)]="item.yaml"></textarea>
                                <div class="p-flexbox">
                                    <button class="ml-8" pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()" class="top"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div *ngIf="showProjectView">
                    <p-toolbar styleClass="mb-4">
                        <ng-template pTemplate="left">
                            <a (click)="showDefault()" class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold  text-2xl">
                                <i style="font-size: 1rem" ></i><span class="link-label">Genery</span>
                            </a>

                            <a (click)="showProject()" class="sidebar-link mr-4 ml-4 text-orange-500 underline font-bold text-2xl">
                                <i style="font-size: 1rem" ></i><span class="link-label">Projects</span>
                            </a>
                        </ng-template>
                        <ng-template pTemplate="right">
                            <button pButton pRipple label=" {{'new' | translate}}" icon="pi pi-plus" class="p-button-info mr-2 mb-2" (click)="openCreate('Project')" *ngIf="createActionIsValid"></button>
                        </ng-template>
                    </p-toolbar>
                    <app-project-create-collaborator  *ngIf="createDialog  && createActionIsValid"></app-project-create-collaborator>
                    <app-project-edit-collaborator  *ngIf="editDialog  && editActionIsValid"></app-project-edit-collaborator>
                    <app-project-view-collaborator  *ngIf="viewDialog  && viewActionIsValid"></app-project-view-collaborator>
                    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
                    <p-table #dt [value]="items" [columns]="cols" [rows]="8" [paginator]="false"
                             [globalFilterFields]="['code', 'name', 'generatedDate', 'projectStatecode', 'inscriptionMembreid', 'domainTemplatename']" [(selection)]="selections"
                             [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                             currentPageReportTemplate="{{'les éléments de {first} à {last} sur {totalRecords} ' | translate}}"
                             [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" selectionMode="multiple">
                        <ng-template pTemplate="caption" class="mb-4">
                        <span class="p-input-icon-left ml-auto">
                            <i class="pi pi-search"></i>
                            <input [style]="{width:'70vh' , height:'7vh'}" pInputText type="text" placeholder="{{'searchInput' | translate}}" (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Date</th>
                                <th>domain</th>
                                <th>Yaml</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-element>
                            <tr class="bg-">
                                <td>{{element.name}}</td>
                                <td>{{element.generatedDate | date :'dd/MM/yyyy HH:mm' }}</td>
                                <!--<td>{{element.projectState?.code}}</td>
                                <td>{{element.inscriptionMembre?.id}}</td>-->
                                <td>{{element.domainTemplate?.name}}</td>
                                <!--<td><p-button  (click)="showYamlDialog(element.yaml)" label="Yaml" severity="warning" /></td>-->
                                <td><p-button  (click)="showYamllDialog(element)" label="Yaml" severity="warning" /></td>
                                <!--<td>
                                    <p-button (click)="showTemplateDetails(element.template)" label="Yaml" severity="warning"></p-button>
                                </td>-->
                            </tr>
                            <p-dialog header="Template Details" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}">
                                <ng-template pTemplate="content">
                                    <div *ngIf="selectedTemplate">
                                        <h3>{{selectedTemplate.name}}</h3>
                                        <p>{{selectedTemplate.description}}</p>
                                        <p><b>Price:</b> {{selectedTemplate.price}} $</p>
                                        <p><b>Technology:</b> {{selectedTemplate.technology?.name}}</p>
                                        <p><b>Domain:</b> {{selectedTemplate.domainTemplate?.name}}</p>
                                        <p><b>Category:</b> {{selectedTemplate.categoryTemplate?.name}}</p>
                                        <p><b>Type:</b> {{selectedTemplate.typeTemplate?.name}}</p>
                                        <p><b>Level:</b> {{selectedTemplate.levelTemplate?.name}}</p>
                                        <p><b>Tags:</b> {{selectedTemplate.templateTags}}</p>
                                    </div>
                                </ng-template>
                                <ng-template pTemplate="footer">
                                    <p-button label="Close" icon="pi pi-times" (click)="displayDialog=false"></p-button>
                                </ng-template>
                            </p-dialog>

                        </ng-template>
                        <ng-template pTemplate="summary">
                        </ng-template>
                    </p-table>

              </div>

                <div *ngIf="showProjectDialogVisible">
                    <div *ngIf="selectedProject">
                        <div class="surface-overlay border-round border-1 shadow-1 p-5 py-0 m-3">
                            <a (click)="showDefault()" class="sidebar-link mr-4 ml-4 text-blue-300 underline font-bold hover:text-orange-700">
                                <i style="font-size: 1rem" ></i><span class="link-label"><i class="pi pi-arrow-left" style="font-size: 2rem"></i></span>
                            </a>
                            <p class="text-center"><strong>Name:</strong> {{ selectedProject.name }}</p>
                            <pre><p class="text-left"><strong>Name:</strong> {{ selectedProject.domainTemplate.name }}</p><p class="text-right"><strong>Name:</strong> {{ selectedProject.projectTemplates }}</p></pre>
                            <div [style]="{width:'100%',heigth:'600px'}" class="card flex justify-content-left mb-4 p-0 bg-gray-100">
                                <p-fieldset legend="Yaml" class="ml-4 mb-4 mt-4 mr-4 w-full bg-gray-100">
                                    <div class="but">
                                        <button (click)="copyToClipboard()"><i class="pi pi-clone" style="font-size: 1.5rem"></i></button>
                                    </div>
                                    <p id="yamlText"> {{ selectedProject.yaml }}</p>
                                </p-fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showProjecttDialogVisible">
                    <div *ngIf="selecteddProject">
                            <div class="surface-overlay border-round border-1 shadow-1 p-5 py-0 m-3">
                                <a (click)="showProject()" class="sidebar-link mr-4 ml-4 text-blue-300 underline font-bold hover:text-orange-700">
                                    <i style="font-size: 1rem" ></i><span class="link-label"><i class="pi pi-arrow-left" style="font-size: 2rem"></i></span>
                                </a>
                                <p class="text-center"><strong>Name:</strong> {{ selecteddProject.name }}</p>
                                <pre><p class="text-left"><strong>Name:</strong> {{ selecteddProject.domainTemplate.name }}</p><p class="text-right"><strong>Name:</strong> {{ selecteddProject.projectTemplates }}</p></pre>
                                <div [style]="{width:'100%',heigth:'600px'}" class="card flex justify-content-left mb-4 p-0 bg-gray-100">
                                    <p-fieldset legend="Yaml" class="ml-4 mb-4 mt-4 mr-4 w-full bg-gray-100">
                                        <div class="but">
                                            <button (click)="copyToClipboard()"><i class="pi pi-clone" style="font-size: 1.5rem"></i></button>
                                        </div>
                                        <p id="yamlText"> {{ selecteddProject.yaml }}</p>
                                    </p-fieldset>
                                </div>
                            </div>
                    </div>
                </div>

            </div>
    </div>

    <p-card header="Permission not allowed" *ngIf="!listActionIsValid">
        <p class="m-0">
            You don't have permission to access !
        </p>
    </p-card>
</div>
   <div *ngIf="showYamlDialogVisible">
           <div *ngIf="selectedProject">
               <h2>Project Details</h2>
               <p><strong>Name:</strong> {{ selectedProject.name }}</p>
               <p><strong>Description:</strong> {{ selectedProject.code }}</p>
               <p><strong>Details:</strong> {{ selectedProject.yaml }}</p>
           </div>
   </div>


   <div *ngIf="showSidebar" class="sidebar bg-surface-100" style="width:60vh;">
   <ng-template pTemplate="content">
           <div *ngIf="selectedTemplate">
               <h3>{{selectedTemplate.name}}</h3>
               <p>{{selectedTemplate.description}}</p>
               <p><b>Price:</b> {{selectedTemplate.price}} $</p>
               <p><b>Technology:</b> {{selectedTemplate.technology?.name}}</p>
               <p><b>Domain:</b> {{selectedTemplate.domainTemplate?.name}}</p>
               <p><b>Category:</b> {{selectedTemplate.categoryTemplate?.name}}</p>
               <p><b>Type:</b> {{selectedTemplate.typeTemplate?.name}}</p>
               <p><b>Level:</b> {{selectedTemplate.levelTemplate?.name}}</p>
               <p><b>Tags:</b> {{selectedTemplate.templateTags}}</p>
           </div>
       </ng-template>
       <ng-template pTemplate="footer">
           <p-button label="Close" icon="pi pi-times" (click)="displayDialog=false"></p-button>
       </ng-template>
   </div>


<div *ngIf="showSidebar" class="sidebar bg-gray-100" style="width:60vh;">
    <button style="margin-top:10vh" class="btn flex-end relative bg-gray-400 p-1" (click)="toggleSidebar()"><i class="pi pi-arrow-circle-left text-black-alpha-60" style="font-size: 2rem"></i></button>
    <h4 class="text-3xl font-bold" style="margin-top:1vh; margin-bottom:1vh">Yaml GPT</h4>
    <div class="card wiw flex justify-content-center bg-gray-200" style="width:47vh;margin:0vh;height: 68vh;padding:0vh;">
        <div style="width:47vh;margin:0vh;padding:2vh;">
            <form [formGroup]="queryFormGroup" (ngSubmit)="handleAskGPT()">
                <div class="mb-4 mt-4">
                    <label class="form-label text-black-alpha-90 font-bold text-3xl">ASK:</label>
                </div>
                <div class="mb-3 border-round">
                    <textarea placeholder="{{'What do you need?' | translate}}" formControlName="query" class="form-control bg-gray-200 border-round" style="width:40vh;height:11vh;"></textarea>
                </div>
                <div class="but">
                    <button class="btn btn-success btn border-circle bg-gray-400 p-2" ><i class="pi pi-send ml-0 mr-0 pl-0 pr-0 text-black-alpha-60" style="font-size: 1.4rem"></i></button>
                </div>
                <div class="alert alert-success" *ngIf="result">
                    <!--<pre>{{result|json}}</pre>-->
                    <ul class="lis-group">
                        <li class="list-group-item" *ngFor="let choic of result.choices" >
                            {{choic.content}}
                        </li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</div>

