



*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body{
    background-color: #080710;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}


form{
    width: 80vh;
    background-color: #343a40;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 17px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: #e2d6d6;
}
/*
input{
    display: block;
    height: 50px;
    width: 100%;
    //background-color: rgba(255,255,255,0.07);
    //border-radius: 3px;
    padding: 0 10px;
    //margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 2px;
    color: white;
    background-color: #040d1c;
}

 */

input {
    display: block;
    height: 44px;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 300;
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 2px;
    color: white;
    background-color: #040d1c;
}
::placeholder{
    color: #e5e5e5;
}
.p{
    margin-top: 50px;
    width: 100%;
    background-color: #df7e1d;
    color: #343a40;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}


.p-button-text[_ngcontent-ng-c2268119243] {
    background: none;
    border: none;
    color: #da7621;
    text-decoration: underline;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height to center the login form */
    position: relative;
    overflow: hidden; /* Ensures the background shapes are contained */
    //background-image: url('/assets/layout/images/backgroundLogin.jpg');
}
h1, h2, h3, h4, h5, h6 {
    margin: 1.5rem 0 1rem 0;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #fffcfc;
}


.p-button{

    border: none;
    border-radius: 5px;
    padding: 0.5rem 0.25rem;
}
.p.p-button.p1{
    background-color: #da7621;
    border: none;
    border-radius: 5px;
    margin-top:28px;
    padding: 0.5rem 0.25rem;
    margin-bottom: 10px;
}
.p-button:hover{
    background-color: #da7621;
}

.p-button-text[_ngcontent-ng-c2739546288] {
    text-decoration: underline;
    color: #da7621;
}


.p-button-text[_ngcontent-ng-c2739546288]:hover{
    color: #da7621;
    text-decoration: underline;
}



.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
