<div class="body mt-0 pt-0" style="width:100%; padding-top:16vh; padding-bottom:0vh;">
    <div class="container space ml-8" style="padding-bottom:12vh;">
        <div class="column text-sm" style="padding-left:1vh; padding-rigth:1vh;" >
            <img src="assets/layout/images/zwin.PNG" alt="My App Logo"/>
        </div>
        <div class="column">
            <h6 class="white text-sm">COMPANY</h6>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">Home</a><br>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">BooK demo</a><br>
            <a class="home-button white text-sm" [routerLink]="['/acceuil/login/login-list']">Get Started</a><br>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">Pricing</a><br>
        </div>

        <div class="column">
            <h6 class="white">FOLLOW US</h6>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">LinKedin</a><br>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">Twitter</a><br>
        </div>

        <div class="column">
            <h6 class="white">DEVELOPERS</h6>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">Documentation</a><br>
            <a href="/acceuil/home/home-list" class="home-button white text-sm">Status</a><br>
        </div>
    </div>
    <pre>
       <p class="white ml-8">&copy; 2024 Zenerator                                             Privacy Policy</p>
    </pre>
</div>

