        <p-dialog [(visible)]="createDialog" [style]="{width: '70vw'}" [modal]="true" styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
            <ng-template pTemplate="content" >
                <div>
                    <h2>Project</h2>
                    <div class="grid">

                                                <div class="field col-12 md:col-6">
                                                    <label for="1">{{'project.code' | translate}}<span style="color: red;">*</span></label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'project.code' | translate}}" id="1" [(ngModel)]="item.code"
                                                            [ngClass]="{'ng-invalid ng-dirty' : !validProjectCode}"  />
                                                    <small class='p-error' *ngIf='!validProjectCode'>Code est obligatoire.</small>
                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="2">{{'project.name' | translate}}</label>
                                                    <input class="mb-2 mr-2" type="text" pInputText  placeholder="{{'project.name' | translate}}" id="2" [(ngModel)]="item.name"
                                                             />

                                                </div>



                                                <div class="field col-12 md:col-6">
                                                    <label for="3">{{'project.generatedDate' | translate}}</label>
                                                    <p-calendar appendTo="body" id="3"  [showTime]="true" [showSeconds]="false" placeholder="{{'project.generatedDate' | translate}}"  [(ngModel)]="item.generatedDate"
                                                            dateFormat="{{dateFormat}}"  >
                                                    </p-calendar>

                                                </div>

                                                <div class="field col-12 md:col-6">
                                                    <label for="4">{{'project.yaml' | translate}}</label>
                                                    <textarea id="4" pInputTextarea rows="5" cols="30" placeholder="{{'project.yaml' | translate}}"  [(ngModel)]="item.yaml"
                                                             ></textarea>

                                                </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="5">{{'project.projectState' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="projectStates" [(ngModel)]="item.projectState" id="5" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="code" placeholder="{{'project.projectState' | translate}}"  >
                                                </p-dropdown>

                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="6">{{'project.inscriptionMembre' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="inscriptionMembres" [(ngModel)]="item.inscriptionMembre" id="6" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="id" placeholder="{{'project.inscriptionMembre' | translate}}"  >
                                                </p-dropdown>

                                            </div>

                                            <div class="field col-11 md:col-6">
                                                <label for="7">{{'project.domainTemplate' | translate}}</label>
                                                <p-dropdown  appendTo="body"  [options]="domainTemplates" [(ngModel)]="item.domainTemplate" id="7" [filter]="true" filterMatchMode="contains"
                                                        [showClear]="true" optionLabel="name" placeholder="{{'project.domainTemplate' | translate}}"  >
                                                </p-dropdown>

                                            </div>

                                            <div class="field col-12  md:col-6">
                                                <label>Template</label>
                                                <p-multiSelect [style]="{background:'#E0E0E0',borderRadius: '0',borderColor:'black'}" [options]="projectTemplates" [(ngModel)]="item.projectTemplates" itemSize="30" [virtualScroll]="true"
                                                                                                                          defaultLabel="Select un template" optionLabel="template.name"  display="chip"></p-multiSelect>
                                            </div>
                                </div>
                                </div>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-flexbox">

                            <button pButton pRipple  label="{{'validate' | translate}}"  icon="pi pi-check"  (click)="save()"></button>


                            <button pButton pRipple  label="{{'cancel' | translate}}" icon="pi pi-times" class="p-button-outlined" (click)="hideCreateDialog()"></button>


                </div>
            </ng-template>

    </p-dialog>
