<div class="black pr-0 pl-0 pb-8">
    <div class="cent black mt-0">
        <div class="cent" style="display:flex;">
            <h4 style="color:white;margin-top:8vh">Pricing</h4>
        </div>
        <div class="cent" style="display:flex;">
            <h1 style="color:white;text-align: center;">Only pay for what you use</h1>
        </div>
        <div class="cent" style="display:flex;">
            <p style="color:white;text-align: center;margin-bottom:25vh">Try free for 14 days. No credit cared required</p>
        </div>
        <div class="grid mr-6 pl-8 pr-0 w-auto"  style="margin-left:200px">
            <div class="col ml-2 mr-0 pl-0 pr-5 flex-grow-0">
                <div class="card wiw flex justify-content-center" style="width:47vh;margin:0vh;height: 54vh;padding:0vh;">
                    <div style="width:47vh;margin:0vh;padding:2vh;">
                        <h6 class="text-2xl text-bold">Team</h6>
                        <p class="text-2xs mt-2">Starting from</p>
                        <h5 class="text-4xl text-bold">$29/month</h5>
                        <button class="black text-2xl border-round white pl-4 pr-4 pt-2 pb-2 m-0" style="width:100%">start frial</button>
                        <p class="text-2xs mt-4 text-color">For developers and small teams getting started</p>
                        <p class="text-2xs ml-2 mb-2">__________________________</p>
                        <h6 class="text-2xl text-bold mt-4 mb-2 mb-0">Core features/</h6>
                        <p class="text-2xs mt-1 mb-0">Up to 3 users</p>
                        <p class="text-2xs mt-1 mb-0">Up to 10 workflows</p>
                        <p class="text-2xs mt-1 mb-0">Webhook & schedule triggers</p>
                    </div>
                </div>
            </div>
            <div class="col mr-0 ml-2 pl-0 pr-5 flex-grow-0 w-auto">
                <div class="card wiw flex justify-content-center" style="width:47vh;margin:0vh;height: 54vh;padding:0vh;">
                    <div style="width:47vh;margin:0vh;padding:2vh;">
                        <h6 class="text-2xl text-bold">Team</h6>
                        <p class="text-xs">Starting from</p>
                        <h5 class="text-4xl text-bold">$29/month</h5>
                        <button class="black text-2xl border-round white pl-4 pr-4 pt-2 pb-2 m-0" style="width:100%">start frial</button>
                        <p class="text-2xs mt-4 text-color">For developers and small teams getting started</p>
                        <p class="text-2xs ml-2 mb-2">__________________________</p>
                        <p class="text-2xl text-bold mt-4 mb-2 mb-0">Core features/</p>
                        <p class="text-2xs mt-1 mb-0">Up to 3 users</p>
                        <p class="text-2xs mt-1 mb-0">Up to 10 workflows</p>
                        <p class="text-2xs mt-1 mb-0">Webhook & schedule triggers</p>
                    </div>
                </div>            </div>
            <div class="col mr-0 ml-2 pl-0 pr-5 flex-grow-0 w-auto">
                <div class="card wiw flex justify-content-center" style="width:47vh;margin:0vh;height: 54vh;padding:0vh;">
                    <div style="width:47vh;margin:0vh;padding:2vh;">
                        <h6 class="text-2xl text-bold">Team</h6>
                        <p class="text-xs">Starting from</p>
                        <h5 class="text-4xl text-bold">$29/month</h5>
                        <button class="black text-2xl border-round white pl-4 pr-4 pt-2 pb-2 m-0" style="width:100%">start frial</button>
                        <p class="text-xs">For developers and small teams getting started</p>
                        <p class="text-2xs ml-2 mb-2">__________________________</p>
                        <p class="text-2xl text-bold mt-4 mb-2 mb-0">Core features/</p>
                        <p class="text-2xs mt-1 mb-0">Up to 3 users</p>
                        <p class="text-2xs mt-1 mb-0">Up to 10 workflows</p>
                        <p class="text-2xs mt-1 mb-0">Webhook & schedule triggers</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cent " style="display:flex;padding:20px;">
            <p style="color:darkgray;text-align: center;">Trusted by leading teams to build automation at scal</p>
        </div>

        <div class="cent " style="display:flex;padding:20px;">
            <img class="m-10 h-50" src="assets/layout/images/cerclelogo.png" alt="logo" style="border-radius:3px;width: 20%;"/>
        </div>

        <p-divider />

        <div class="grid">
            <div class="col-fixed" style="width:500px">
                <div class="text-center  border-round-sm bg-surface-900 font-bold">
                    <pre><h5 class="white font-bold">         Compare plans & features          </h5></pre>

                </div>
            </div>
            <p-divider layout="vertical" />
            <div class="col-fixed" style="width:280px">
                <div class="text-left border-round-sm bg-surface-900 font-bold">
                    <p class="white text-base font-bold">Team</p>
                    <p class="white text-xs">Starting from </p>
                    <p class="white font-bold text-xl">$29/month</p>
                    <button class="p-tabview-nav-btn hh  m-1 pt-1 pb-1 " [routerLink]="['/acceuil/login/login-list']">Get Started</button>
                </div>
            </div>
            <p-divider layout="vertical" />
            <div class="col-fixed" style="width:280px">
                <div class="text-left border-round-sm bg-surface-900 font-bold">
                    <p class="white text-base font-bold">Business</p>
                    <p class="white text-xs">Starting from </p>
                    <p class="white font-bold text-xl">$99/month</p>
                    <button class="p-tabview-nav-btn hh  m-1 pt-1 pb-1 " [routerLink]="['/acceuil/login/login-list']">Get Started</button>
                </div>
            </div>
            <p-divider layout="vertical" />
            <div class="col-fixed" style="width:280px">
                <div class="text-left border-round-sm bg-surface-900 font-bold">
                    <p class="white text-base font-bold">Entreprise</p>
                    <p class="white text-xs">Starting from </p>
                    <pre><p class="white font-bold text-xl">Custom    </p></pre>
                    <button class="p-tabview-nav-btn hh  m-1 pt-1 pb-1 " [routerLink]="['/acceuil/login/login-list']">Get Started</button>
                </div>
            </div>
            <p-divider layout="vertical" />
            <div class="col">
                <div class="text-left p-3 border-round-sm bg-surface-900 font-bold">
                </div>
            </div>
        </div>

        <p-divider />
        <p class="white font-bold text-3xl" style="margin-left:36vh">Essentials</p>

        <table style="display:flex;justify-content:center">

            <tbody>
            <tr style="border:1px solid white">
                <td class="lef white text-bold text-xl" style="width:720px">Workflow runs</td>
                <td class="lef white" *ngFor="let plan of pricingP">{{ plan.title }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td class="white text-bold text-xl">Users</td>
                <td class="white" *ngFor="let plan of pricingP">{{ plan.users }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td class="white text-bold text-xl">Connections</td>
                <td class="white" *ngFor="let plan of pricingP">{{ plan.connections }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white text-bold text-xl">New connection requests</td>
                <td class="white" *ngFor="let plan of pricingP">{{ plan.newConnectionRequests }}</td>
            </tr>
            </tbody>
        </table>

        <p class="white font-bold text-3xl mt-4 mb-2" style="margin-left:36vh">Workflow builder</p>
        <table style="display:flex;justify-content:center">
            <tbody>
            <tr style="border:1px solid white">
                <td class="lef white  text-bold text-xl" style="width:950px">Workflow runs</td>
                <td class="lef white" *ngFor="let plan of pricingPlans">{{ plan.title }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl">Users</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.users }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl">Connections</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.connections }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl">New connection requests</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.newConnectionRequests }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl">One-click deployement</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.aaa }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl justify-content-lef">Secrets manager</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.bbb }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl justify-content-lef">Log retention</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.ccc }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl justify-content-lef">GitHub source control</td>
                <td class="white" *ngFor="let plan of pricingPlans">{{ plan.ddd }}</td>
            </tr>
            </tbody>
        </table>

        <p class="white font-bold text-3xl" style="margin-left:36vh">Security & suport</p>

        <table style="display:flex;justify-content:center">

            <tbody>
            <tr style="border:1px solid white">
                <td class="lef white  text-bold text-xl justify-content-lef" style="width:1100px">Workflow runs</td>
                <td class="lef white" *ngFor="let plan of pricing">{{ plan.title }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl justify-content-lef">Dedicated Stack support</td>
                <td class="white" *ngFor="let plan of pricing">{{ plan.users }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl justify-content-lef">Engineering support</td>
                <td *ngFor="let plan of pricing">{{ plan.connections }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td class="white  text-bold text-xl justify-content-lef">Security questionaires</td>
                <td class="white" *ngFor="let plan of pricing">{{ plan.newConnectionRequests }}</td>
            </tr>
            </tbody>
        </table>
        <div style="margin:55vh; margin-top:2vh; margin-bottom:2vh;">

            <p-accordion class="ml-8" style="width:500px; margin-left:25vh;" [activeIndex]="0">

                <p-accordionTab header="How to generate projects?">
                    <p>
                        Prepare the yaml that contains two part,
                        the first part contains the entities and thier attributses, and the seond part contains the configuration.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What the notations REQ, REF , ID?">
                    <p>
                        REQ : REquirement.
                        REF: represents a unique atribute.
                        ID: Identifiere, this   field is required.
                        Label : Soit Combobox ou REF, OU ID.
                    </p>
                </p-accordionTab>
                <p-accordionTab header=" What The notations MS, ROLE, SUBMODUL?">
                    <p>
                        MS: microservice : which microservice it belongs to , MS1: port , MS2: Technology
                        ROLE: which roles have the right to see the entities , we have a default role called administrator , and doesn't
                        prevent from adding other roles.
                        The entities that have the right to automatically connect extend the user class , Which already has attributs such as username, password, firstname , phon, etc, Do not add these attriutes as
                        they already exist.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What is  the ACTOR?">
                    <p>
                        Entity that have the right to connect auomatically, such as agent and clients, they extend the user class.
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What is the available technologys?">
                    <p>
                        We have : spring boot , angular, laravel , dotnet , react, ractNative,
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>

</div>
</div>

