
<div class="black pr-0 pl-0 pb-8 w-auto">
    <div class="cent black mt-0">
        <div class="cent" style="display:flex;">
            <h4 style="color:white;margin-top:8vh">Pricing</h4>
        </div>
        <div class="cent" style="display:flex;">
            <h1 style="color:white;text-align: center;">Only pay for what you use</h1>
        </div>
        <div class="cent" style="display:flex;">
            <p style="color:white;text-align: center;margin-bottom:25vh">Try free for 14 days. No credit cared required</p>
        </div>
    <div class="flex-wrap">
        <div class="ml-8">
        </div>

    </div>
        <div class="grid ml-8 mr-6 pl-8 pr-0 w-auto">
            <div class="col ml-2 mr-0 pl-0 pr-5 flex-grow-0">
                <div class="card wiw flex justify-content-center" style="width:47vh;margin:0vh;height: 50vh;padding:0vh;">
                    <div style="width:47vh;margin:0vh;padding:2vh;">
                        <label>Team</label>
                        <p class="text-xs">Starting from</p>
                        <h5>$29/month</h5>
                        <button>start frial</button>
                        <p class="text-xs text-color">For developers and small teams getting started</p>
                        <p class="text-xs ml-2 mb-2">__________________________</p>
                        <p class="text-xs mt-0 mb-0">Core features/</p>
                        <p class="text-xs mt-0 mb-0">Up to 3 users</p>
                        <p class="text-xs mt-0 mb-0">Up to 10 workflows</p>
                        <p class="text-xs mt-0 mb-0">Webhook & schedule triggers</p>
                    </div>
                </div>
            </div>
            <div class="col mr-0 ml-2 pl-0 pr-5 flex-grow-0 w-auto">
                <div class="card wiw flex justify-content-center" style="width:47vh;margin:0vh;height: 50vh;padding:0vh;">
                    <div style="width:47vh;margin:0vh;padding:2vh;">
                        <label>Team</label>
                        <p class="text-xs">Starting from</p>
                        <h5>$29/month</h5>
                        <button>start frial</button>
                        <p class="text-xs">For developers and small teams getting started</p>
                        <p class="text-xs mb-0">__________________________</p>
                        <p class="text-xs mt-0 mb-0">Core features/</p>
                        <p class="text-xs mt-0 mb-0">Up to 3 users</p>
                        <p class="text-xs mt-0 mb-0">Up to 10 workflows</p>
                        <p class="text-xs mt-0 mb-0">Webhook & schedule triggers</p>
                    </div>
                </div>            </div>
            <div class="col mr-0 ml-2 pl-0 pr-5 flex-grow-0 w-auto">
                <div class="card wiw flex justify-content-center" style="width:47vh;margin:0vh;height: 50vh;padding:0vh;">
                    <div style="width:47vh;margin:0vh;padding:2vh;">
                        <label>Team</label>
                        <p class="text-xs">Starting from</p>
                        <h5>$29/month</h5>
                        <button>start frial</button>
                        <p class="text-xs">For developers and small teams getting started</p>
                        <p class="text-xs mb-0">__________________________</p>
                        <p class="text-xs mt-0 mb-0">Core features/</p>
                        <p class="text-xs mt-0 mb-0">Up to 3 users</p>
                        <p class="text-xs mt-0 mb-0">Up to 10 workflows</p>
                        <p class="text-xs mt-0 mb-0">Webhook & schedule triggers</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="cent " style="display:flex;padding:20px;">
            <p style="color:darkgray;text-align: center;">Trusted by leading teams to build automation at scal</p>
        </div>

        <div class="cent " style="display:flex;padding:20px;">
            <img class="m-10 h-50" src="assets/layout/images/cerclelogo.png" alt="logo" style="border-radius:3px;width: 20%;"/>
        </div>

        <p-divider />




        <div class="contain w-auto" style="width:100%">
            <div class="colum">
                <pre><h5 class="white font-bold">         Compare plans & features          </h5></pre>
            </div>
            <p-divider layout="vertical" />
            <div class="colum">
                    <p class="white text-base font-bold">Team</p>
                    <p class="white text-xs">Starting from </p>
                    <p class="white font-bold text-xl">$29/month</p>
                <button class="p-tabview-nav-btn hh  m-1 pt-1 pb-1 " [routerLink]="['/login']">Get Started</button>
            </div>

                <p-divider layout="vertical" />

            <div class="colum">
                    <p class="white text-base font-bold">Business</p>
                    <p class="white text-xs">Starting from </p>
                    <p class="white font-bold text-xl">$99/month</p>
                <button class="p-tabview-nav-btn hh  m-1 pt-1 pb-1 " [routerLink]="['/login']">Get Started</button>
            </div>
            <p-divider layout="vertical" />
            <div class="colum">
                    <p class="white text-base font-bold">Entreprise</p>
                    <p class="white text-xs">Starting from </p>
                    <pre><p class="white font-bold text-xl">Custom    </p></pre>
                <button class="p-tabview-nav-btn hh  m-1 pt-1 pb-1 " [routerLink]="['/login']">Get Started</button>
            </div>
            <p-divider layout="vertical" />
            <div class="colum">
                <p></p>
                <p></p>
            </div>
        </div>

        <p-divider />
        <p class="white font-bold text-xl">Essentials</p>

        <table style="display:flex;justify-content:center" class="w-auto">

            <tbody>
            <tr style="border:1px solid white">
                <td class="lef">Workflow runs</td>
                <td class="lef" *ngFor="let plan of pricingP">{{ plan.title }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td>Users</td>
                <td *ngFor="let plan of pricingP">{{ plan.users }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td>Connections</td>
                <td *ngFor="let plan of pricingP">{{ plan.connections }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>New connection requests</td>
                <td *ngFor="let plan of pricingP">{{ plan.newConnectionRequests }}</td>
            </tr>
            </tbody>
        </table>



        <p class="white font-bold text-xl mt-4 mb-2">Workflow builder</p>

        <table style="display:flex;justify-content:center" class="w-auto">

            <tbody>
            <tr style="border:1px solid white">
                <td class="lef">Workflow runs</td>
                <td class="lef" *ngFor="let plan of pricingPlans">{{ plan.title }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td>Users</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.users }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td>Connections</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.connections }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>New connection requests</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.newConnectionRequests }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>One-click deployement</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.aaa }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>Secrets manager</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.bbb }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>Log retention</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.ccc }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>GitHub source control</td>
                <td *ngFor="let plan of pricingPlans">{{ plan.ddd }}</td>
            </tr>
            </tbody>
        </table>

        <p class="white font-bold text-xl">Security & suport</p>

        <table style="display:flex;justify-content:center" class="w-auto">

            <tbody>
            <tr style="border:1px solid white">
                <td class="lef">Workflow runs</td>
                <td class="lef" *ngFor="let plan of pricing">{{ plan.title }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td>Dedicated Stack support</td>
                <td *ngFor="let plan of pricing">{{ plan.users }}</td>
            </tr>

            <tr style="border:1px solid white">
                <td>Engineering support</td>
                <td *ngFor="let plan of pricing">{{ plan.connections }}</td>
            </tr>
            <tr style="border:1px solid white">
                <td>Security questionaires</td>
                <td *ngFor="let plan of pricing">{{ plan.newConnectionRequests }}</td>
            </tr>
            </tbody>
        </table>







<!--
        <table class="">
            <tbody>
            <tr class="top">
                <td class="white">Workflow runs</td>
                <td class="white">Stors from 2,OOO/month</td>
                <td class="white">Starts from 5,000/month</td>
                <td class="white">Custom</td>
            </tr>
            <tr>
                <td class="white">Users</td>
                <td class="white">Up to 3</td>
                <td class="white">Unlimited</td>
                <td class="white">Unlimited</td>
            </tr>
            <tr>
                <td class="white">Connections</td>
                <td class="white">Ulimited</td>
                <td class="white">Ulimited</td>
                <td class="white">Ulimited</td>
            </tr>
            <tr>
                <td class="white">New connecting requests</td>
                <td class="white"></td>
                <td class="white">Avaitable</td>
                <td class="white">Prioritized</td>
            </tr>
            </tbody>
        </table>-->
        <div style="margin:55vh; margin-top:2vh; margin-bottom:2vh;">

            <p-accordion class="ml-8" style="width:500px; margin-left:25vh;" [activeIndex]="0">

                <p-accordionTab header="What is Strada?">
                    <p>
                        Lorem ipsum dolor sit amet...
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What's the diference between Strada and low-code tools like Workato?">
                    <p>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What are workflow runs?">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What is a worhflow?">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                </p-accordionTab>
                <p-accordionTab header="What is a connection?">
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos...
                    </p>
                </p-accordionTab>
            </p-accordion>
        </div>

</div>
</div>

