.flex {
    display: flex;
    background-color: #040d1c;

}


.align-items-start {
    align-items: flex-start;
}

.bg-bla {
    background-color: black;
}

.font-bold {
    font-weight: bold;
}
.navbar-logo img {
    height: 50px;
}

.navbar-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    margin-right: 1rem;
}

.navbar-links a {
    color: #ffffff;
    text-decoration: none;
}

.navbar-actions {
    display: flex;
    justify-content: flex-end;
}

.hh1 {
    border: none;
    color: #ffffff;
    padding: 1rem 0.5rem;
    cursor: pointer;
    border-radius: 20px;
    position:relative;
    width: 110px;

}

.hh {
    background-color:  #ffffff;
    border: none;
    color: #1a1a1a;
    padding: 1rem 1rem;
    cursor: pointer;
    border-radius: 20px;
}
.p-tabview-nav-btn.hh1 .pi {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    margin-left:2px;
}

.p-tabview-nav-btn.active {
    position:fixed;
    border-radius: 20px;
}

.home-button-text {
    color: #ffffff;
    margin-left: 5px;
}




@media only screen and (max-width: 768px) {
    .navbar-logo {
        flex-direction: column;
        align-items: center;

    }

    .navbar-actions {
        justify-content: flex-end;
    }
}


@media only screen and (max-width: 480px) {
    .navbar-logo {
        font-size: 14px;
    }}

/* layoutscc */

.layout-topbar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
        color: var(--text-color);
        border:1px solid var(--surface-hover);
    }

    &:focus {
        outline: 0 none;
        outline-offset: 0;
        transition: box-shadow .2s;
        box-shadow: var(--focus-ring);
        background-color: #040d1c;
    }

    i {
        font-size: 1.5rem;
        color:white;
    }

    span {
        font-size: 1rem;
        display: none;
    }
}
.black{
    background-color: rgb(7, 15, 30);;
}
.white{
    color:white;
    margin:2vh;
}
.bleu{
    color:dodgerblue;
}
.gris{
    color:darkgray;
}
.cent{
    justify-content:center;
}

.container {
    display: flex;
    justify-content: space-around;
}

.column {
    flex: 1;
    text-align: left;
}
.space{
    width:87vh;
}
.awili{
    margin-bottom:5px;
}


.contain {
    display: flex;
}

.colum {
    flex: 1;
    padding: 0 0 0 0px;
}

.divider {
    border-left: 1px solid black;
    height: 100%;
    margin: 0 0 0 0px;
}
    //table
table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #040d1c;
    border-bottom: 2px solid #ddd;
}

thead th {
    padding: 15px;
    margin:15px;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

tbody {
    background-color: #040d1c;
}

tbody tr:nth-child(odd) {
    background-color: #040d1c; /* Add a subtle background color for odd rows */
}

tbody tr {
    border-bottom: 1px solid #ddd;
}

tbody td {
    padding: 15px;
    text-align: center;
}

tbody tr td:first-child {
    background-color: #040d1c;
}

td.pricing-plan-title {
    font-size: 18px;
    font-weight: bold;
}

td.pricing-plan-feature {
    font-size: 16px;
}
.lef{
    text-align:left;
}
.wiw{
    background:white;
}


